.single-post {
  margin: 0 auto;
  max-width: 720px;

  &__header {
    position: relative;
    text-align: center;
    margin-bottom: 4rem;
    padding-bottom: 4rem;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 1px;
      background-color: $gray-darker;
    }
  }

  &__title {
    margin-bottom: 4rem;
    font-size: 2.8rem;
    font-family: $font-family-serif;
  }

  &__cover {
    width: 100%;
    height: auto;
  }

  &__content {

    img {
      width: 100%;
      height: auto;
    }

    p.post-image {
      margin: 3rem -6rem;

      > img + img {
        margin-top: 3rem;
      }
    }
  }
}

.read-next {
  display: flex;
  width: 100%;
  margin: 4rem 0 0 0;

  > * {
    flex: 0 0 50%;
  }

  &__story {
    position: relative;
    display: flex;
    margin: 0 0.2rem;

    &--cover {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
    }

    &--overlay {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.46);
    }

    &--content {
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 300px;
      padding: 2rem;
      background-size: cover;
      color: white;

      h2 {
        font-size: 1.8rem;
        font-family: $font-family-serif;
      }

      > p {
        color: white;
      }
    }

    &--prev,
    &--next {
      position: relative;

      &:before {
        content: "asdf";
        position: absolute;
        z-index: 2;
        left: 0;
        top: 50%;
      }

    }
  }
}