html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

b,
strong {
  font-weight: bold; }

i,
em {
  font-style: italic; }

@font-face {
  font-family: 'Butler';
  src: url("../fonts/Butler.eot");
  src: url("../fonts/Butler.eot?#iefix") format("embedded-opentype"), url("../fonts/Butler.woff") format("woff"), url("../fonts/Butler.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

hr {
  display: block;
  margin: 2rem 0;
  background-color: #7f7e82;
  width: 72px;
  height: 1px; }

body {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.4px; }

p {
  font-size: 1.05rem;
  line-height: 1.8;
  color: #7f7e82;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #242425; }

.btn {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  min-width: 62px;
  padding: 0.6rem 1.2rem;
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  transition: background-color 200ms ease-in, color 200ms ease-out;
  will-change: color, background-color;
  color: black; }
  .btn:focus {
    outline: none; }
  .btn--primary {
    background-color: #515153;
    color: white; }
    .btn--primary:hover {
      background-color: #242425;
      color: white; }
  .btn--secondary {
    border: 1px solid whitesmoke; }
    .btn--secondary:hover {
      background-color: whitesmoke;
      color: black; }
  .btn--large {
    font-size: 1rem;
    padding: 1rem 1.6rem; }

.layout {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1525px;
  margin: 0 auto;
  background-color: white; }
  .layout__content {
    width: 100%;
    max-width: 1170px;
    margin: 2rem 0; }
    @media (min-width: 530px) {
      .layout__content {
        margin: 2rem; } }
  .layout__main {
    margin: 6rem 0; }
  .layout__footer {
    display: none; }

.nav {
  margin: 0;
  font-family: "Lato", sans-serif; }
  .nav__list {
    display: none; }
    @media (min-width: 530px) {
      .nav__list {
        display: flex; } }
    .nav__list-item + .nav__list-item {
      margin-left: 2rem; }
    .nav__list-item > a {
      display: block;
      font-size: 0.9rem;
      line-height: 1;
      text-transform: lowercase;
      color: black;
      font-weight: 300;
      opacity: 0.5;
      transition: opacity 300ms ease; }
      .nav__list-item > a:hover {
        opacity: 1; }
    .nav__list-item.nav__list-item--facebook > a, .nav__list-item.nav__list-item--instagram > a, .nav__list-item.nav__list-item--pinterest > a {
      width: 16px;
      height: 16px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background-size: cover; }
    .nav__list-item.nav__list-item--facebook {
      margin-left: auto; }
      .nav__list-item.nav__list-item--facebook ~ li {
        margin-left: 1rem; }
      .nav__list-item.nav__list-item--facebook > a {
        background-image: url("../images/icons/facebook.svg"); }
    .nav__list-item.nav__list-item--instagram > a {
      background-image: url("../images/icons/instagram.svg"); }
    .nav__list-item.nav__list-item--pinterest > a {
      background-image: url("../images/icons/pinterest.svg"); }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0 2rem 0; }
  .header__brand {
    margin: 0 0 1rem 0; }
    .header__brand > a > img {
      width: auto;
      height: 6rem; }
  .header.header--shrink {
    margin-top: 1rem; }
    .header.header--shrink .header__brand img {
      height: 3rem; }

.blognav__list {
  display: flex;
  font-family: "Lato", sans-serif; }
  .blognav__list-item > a {
    display: block;
    padding: 1rem;
    color: black;
    font-size: 1.2rem;
    text-transform: lowercase; }

.loop__post {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .loop__post + .loop__post {
    margin-top: 4rem; }
  @media (min-width: 968px) {
    .loop__post {
      flex-direction: row; } }
  .loop__post--cover {
    display: block;
    flex: 0 0 100%;
    background-size: cover;
    background-position: center bottom; }
    @media (min-width: 968px) {
      .loop__post--cover {
        flex: 0 0 700px;
        height: 0;
        padding-bottom: 700px; } }
  .loop__post--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem; }
  .loop__post--header {
    position: relative;
    padding-bottom: 2rem; }
    .loop__post--header:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 1px;
      background-color: #242425; }
  .loop__post--title > a {
    font-size: 2rem;
    font-family: "Butler", serif;
    color: black; }
  .loop__post--excerpt {
    position: relative;
    margin: 2rem 0;
    padding-bottom: 2rem; }
    .loop__post--excerpt:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 1px;
      background-color: #242425; }
  .loop__post--meta {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 2rem;
    color: #7f7e82;
    font-size: 0.8rem; }
  .loop__post--date {
    padding-right: 0.3rem; }
  .loop__post--tags {
    flex: 0 0 100%;
    margin-top: 0.4rem; }
    .loop__post--tags > a {
      color: #7f7e82; }

.loop__pagination {
  margin: 4rem 0;
  text-align: center; }

.single-post {
  margin: 0 auto;
  max-width: 720px; }
  .single-post__header {
    position: relative;
    text-align: center;
    margin-bottom: 4rem;
    padding-bottom: 4rem; }
    .single-post__header:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 1px;
      background-color: #242425; }
  .single-post__title {
    margin-bottom: 4rem;
    font-size: 2.8rem;
    font-family: "Butler", serif; }
  .single-post__cover {
    width: 100%;
    height: auto; }
  .single-post__content img {
    width: 100%;
    height: auto; }
  .single-post__content p.post-image {
    margin: 3rem -6rem; }
    .single-post__content p.post-image > img + img {
      margin-top: 3rem; }

.read-next {
  display: flex;
  width: 100%;
  margin: 4rem 0 0 0; }
  .read-next > * {
    flex: 0 0 50%; }
  .read-next__story {
    position: relative;
    display: flex;
    margin: 0 0.2rem; }
    .read-next__story--cover {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover; }
    .read-next__story--overlay {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.46); }
    .read-next__story--content {
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 300px;
      padding: 2rem;
      background-size: cover;
      color: white; }
      .read-next__story--content h2 {
        font-size: 1.8rem;
        font-family: "Butler", serif; }
      .read-next__story--content > p {
        color: white; }
    .read-next__story--prev, .read-next__story--next {
      position: relative; }
      .read-next__story--prev:before, .read-next__story--next:before {
        content: "asdf";
        position: absolute;
        z-index: 2;
        left: 0;
        top: 50%; }

.journal {
  display: flex;
  flex-wrap: wrap; }
  .journal__modal {
    position: absolute;
    z-index: 500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .journal__post {
    flex: 0 0 25%;
    height: 320px;
    overflow: hidden;
    padding: 1rem; }
    .journal__post--inner {
      width: 100%;
      height: 100%; }
    .journal__post--cover {
      width: 100%;
      height: 100%;
      background-size: cover;
      transform: scale(1);
      transition: transform 4s ease-out;
      transform-origin: center center; }

body {
  margin: 0;
  background-color: whitesmoke; }
  @media (min-width: 968px) {
    body {
      margin: 2rem; } }

::-moz-selection {
  background: #D6EDFF; }

::selection {
  background: #D6EDFF; }
