<nav class="blognav">
  <ul class="blognav__list">

    <li class="blognav__list-item">
      <a href="/tags/">Art</a>
    </li>
    <li class="blognav__list-item">
      <a href="/tags/">Botanical</a>
    </li>
    <li class="blognav__list-item">
      <a href="/tags/">Style</a>
    </li>
    <li class="blognav__list-item">
      <a href="/tags/">Recipes</a>
    </li>
    <li class="blognav__list-item">
      <a href="/tags/">Wanderings</a>
    </li>
  </ul>
</nav>