<section class="loop">

  <div class="loop__posts" data-loop-posts>

  </div>

  <div class="loop__pagination">
    <a href="/page/2" class="btn btn--primary btn--large" data-load-more>Load More</a>
  </div>

</section>