<header class="header header--shrink">

  <div class="header__brand" itemscope itemtype="http://schema.org/Blog">
    <a itemprop="url" href="{{@blog.url}}" title="{{@blog.title}}">
      <img itemprop="logo" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
  </div>

</header>