.btn {
  @include reset-button;
  display: inline-block;
  min-width: 62px;
  padding: 0.6rem 1.2rem;
  font-family: $font-family-sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  transition: background-color 200ms ease-in, color 200ms ease-out;
  will-change: color, background-color;
  color: black;

  &--primary {
    background-color: $gray-dark;
    color: white;

    &:hover {
      background-color: $gray-darker;
      color: white;
    }
  }

  &--secondary {
    border: 1px solid $gray-lighter;

    &:hover {
      background-color: $gray-lighter;
      color: black;
    }
  }
}