$font-family-serif: 'Playfair Display', serif;
$font-family-sans-serif: 'Montserrat', sans-serif;

$gray: rgb(127, 126, 130);
$gray-dark: darken($gray, 18%);
$gray-darker: darken($gray, 36%);
$gray-light: lighten($gray, 18%);
$gray-lighter: lighten($gray, 46%);

$light-purple: rgba(102, 51, 153, 0.06);

$post-border-radius: 4px;